# Production only has:
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Local Development has the above and:
# postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL=

EMAIL_ENCRYPTION_KEY=
